extends layout

block content
  .Hello
    h1 안녕하세요😊
    h3 컴퓨터 공학과 재학중인 대학생 개발자입니다.
    img.homeImg(src="home2.jpg", alt="홈 사진" width="600", height="450")
    h3 이곳은 저의 프로젝트와 소소한 포스트가 있는 공간입니다.
    h3 감사합니다🙋‍♂️