doctype
html
    head
        meta(charset='UTF-8')
        title= title
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        link(rel='stylesheet' href='/index.css')
        link(rel='stylesheet' href='/project.css')
        link(rel='stylesheet' href='/tech.css')
        link(rel='stylesheet' href='/tag.css')
    body
        .wrap
            .header 
                if (admin)
                    a.logout(href="/auth/logout") Logout
                else
                    a.login(href="/auth/login") Login
                .title
                    a(href="/") Jerky Code
                .menu
                    span.menuElem
                        a.homeBtn(href="/") Home
                    span.menuElem
                        a.profile(href="/profile") Profile
                    span.menuElem
                        a.project(href="/project") Project
                    span.menuElem
                        a.tech(href="/tech") Post
                    span.menuElem
                        a.tag(href="/tag") Tag
                    span.menuElem.search Search
            .container
                .searchBar.none
                    form(action="/tech/search", method="get")
                        input.searchText(type="text", name="search", size="24" required autofocus)
                        button.searchBtn(type="submit") Search
                if (menuName)
                    .menuName= menuName
                block content
            .footer
                .made Copyright 2020. gunwoo All rights reserved.
                .email gunwbro@gmail.com
        script(src="/index.js")
        script.