doctype
html
    head
        meta(charset='UTF-8')
        title= 실험
        meta(name='viewport' content='width=device-width, user-scalable=no')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        link(rel='stylesheet' href='/main.css')
    body
        h1 안녕하세요