extends layout

block content
  link(rel='stylesheet' href='/editor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css')
  script(src="/editor/ckeditor.js")

  form(action='/tech/post' method="post")
      input.newTech-title(type="text", name="title")
      textarea#editor1(name="content", cols="10", rows="80")
      span#spanTag Tag : 
      input.newTech-tag(type="text", name="tag")
      button.btn(type='submit') Submit
      script.
        const config = {
          codeSnippet_theme: 'monokai_sublime',
          filebrowserUploadUrl: '/tech/post/img',
          height: 400,
          width: 800,
        }
        CKEDITOR.replace('content', config);