extends layout

block content
    div
        div
            img(src="catProfile.jpg", alt="프로필사진", width="300", height="400")
        .inform
            div Name : 조건우
            div Email : gunwbro@gmail.com
            div Career : 인하대학교
            span Github : 
            a.git(href="https://github.com/gunwbro ") https://github.com/gunwbro