extends layout

block content
    div
        div
            img(src="profile.jpg", alt="프로필사진", width="200", height="300")
        .inform
            div Name : 조건우
            div Email : gunwbro@gmail.com
            div Career : 인하대학교