extends layout

block content
  .projectsPost-container
    .projectsPost
        for project in projects
            .projects-container
                a(href='/project/' + project.id)
                    .projects-img
                        img.projectImg(src=project.img alt='섬네일')
                a.projects-title(href='/project/' + project.id)= project.title
    div
        if (admin)
            a.writeProject(href='/project/post') Post

    script.
