extends layout

block content
  .projectsPost-container
    .projectsPost
        for project in projects
            .projects-container
                .projects-img
                    img.projectImg(src=project.img alt='섬네일')
                a.projects-title(href='/project/' + project.id)= project.title
    div
        a.writeProject(href='/project/post') Post

    script.
