extends layout

block content
  link(rel="stylesheet", href="/editor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css")
  script(src="/editor/plugins/codesnippet/lib/highlight/highlight.pack.js")
  .techPost
    .tech-container
        .tech-content!= tech.content
        .tech-tags
          if (tags)
            for tag in tags
              a.tech-tag(href='/tag/' + tag.id)= '#' + tag.title + ' '
  script.
    hljs.initHighlightingOnLoad();