extends layout

block content
    .techsPost-container
        table.techsPost
            thead
                tr
                    th.thTitle Title
                    th.thDate Date
            tbody
                for tech in techs
                    tr.techs-container
                        td.techs-title
                            a(href='/tech/' + tech.id)!= '&nbsp;&nbsp;-&nbsp;'+tech.title
                        td.tdate!=`${tech.createdAt.getFullYear()}년 ${tech.createdAt.getMonth() + 1}월 ${tech.createdAt.getDate()}일`
    .tech-write
        if (admin)
            a.writeProject(href='/tech/post') Post
        