body {
    user-select: none;
    background-color: #F2F2F2;
}
.header {
    background-color: #F2F2F2;
    text-align: center;
    height: 300px;
}
a {
    text-decoration: none;
    color: #303030;
}
.container {
    min-height: 850px;
    text-align: center;
    background-color: #F2F2F2;
}
.footer {
    background-color: #F2F2F2;
    height: 100px;
    text-align: center;
}

.title {
    padding: 100px 0;
    color: #303030;
    font-size: 40px;
    font-weight: bold;

}

.menu {
    color: #303030;
}
.menuElem {
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.menuName {
    padding: 70px 0;
    color: #303030;
    font-size: 30px;
    font-weight: bold;
}

.made, .email{
    color: #303030;
    font-weight: bold;
}

.made {
    padding-top: 40px;
}
.email {
    padding-top: 20px;
}

.homeBtn {
    color: #303030;
}

.searchBar {
    position: absolute;
    left: 55%;
    width: 270px;
    height: 26px;
    border: none;
}

.none {
    display: none;
}
.searchText {
    margin-left: 3px;
    margin-top: 3px;
    height: 15px;
    float: left;
}

.searchBtn {
    background-color:#303030;
    color: white;
    border: 1px solid#303030;
    height: 21px;
    margin-top: 3px;
    font-weight: bold;
}

.write {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    float: right;
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 5px;
}

.techPost, .projectPost {
    height: 700px;
    border: 1px solid gray;
}

.inform {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}