body {
    user-select: none;
    background-color: white;
}
.header {
    background-color: white;
    text-align: center;
    height: 300px;
    border-bottom: 1px solid #EEEEEE;
}
a {
    text-decoration: none;
    color: #303030;
}

.login, .logout {
    float: right;
    cursor: pointer;
}


.container {
    min-height: 850px;
    text-align: center;
    background-color: white;
}
.footer {
    background-color: white;
    border-top: 1px solid #EEEEEE;
    height: 150px;
    text-align: center;
}

.title {
    padding: 100px 0;
    color: #303030;
    font-size: 40px;
    font-weight: bold;

}

.menu {
    color: #303030;
}
.menuElem {
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.menuName {
    padding: 70px 0;
    color: #303030;
    font-size: 30px;
    font-weight: bold;
}

.made, .email{
    color: #303030;
    font-weight: bold;
}

.made {
    padding-top: 40px;
}
.email {
    padding-top: 20px;
}

.homeBtn, .profile, .project, .tech, .tag, .search {
    color: #303030;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}
.homeBtn:hover, .profile:hover, .project:hover, .tech:hover, 
.tag:hover, .search:hover {
    color: #cd0a0a;
}

.searchBar {
    position: absolute;
    left: 55%;
    width: 270px;
    height: 26px;
    border: none;
}

.none {
    display: none;
}
.searchText {
    margin-left: 3px;
    margin-top: 3px;
    height: 15px;
    float: left;
}

.searchBtn {
    background-color:#303030;
    color: white;
    border: 1px solid#303030;
    height: 21px;
    margin-top: 3px;
}

.writeProject {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    float: right;
    background-color: #303030;
    color: white;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.techsPost, .projectsPost {
    min-height: 700px;
}

.inform {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

