.projectsPost {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  left: 50% 0;
}

.projectsPost-container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.projects-container {
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.projects-img {
  width: 300px;
  height: 350px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  -webkit-transition: color 0.2s,box-shadow 0.2s;
  transition: color 0.2s,box-shadow 0.2s;
}

.projects-img:hover {
  box-shadow: 1px 4px 20px rgba(0,0,0,0.2);
}
.projects-title {
  font-weight: bold;
}
.projectImg {
  width: 300px;
  height: 350px;
  object-fit: cover;
}
.postImg {
  width: 400px;
  height: 500px;
  object-fit: cover;
}
.projects-title {
  line-height: 50px;
}

.projects-container {
  text-align: center;
}
.project-container {
  margin-top: 50px;
}
.project-content {
  width: 500px;
  height: 500px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.project-img {
  width: 400px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  object-fit: cover;
  
}
#project {
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
}
.input_description {
  width: 250px;
  height: 300px;
  text-align: left;
}
.newProject-container {
  width: 400px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.newProject-description {
  height: 320px;
}
#img {
  float: right;
}

#new-btn {
  padding-top: 40px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: #303030;
  color: white;
  border-style: none;
}
#text {
  width: 250px;
  float: right;
}

#project-elem {
  padding-bottom: 5px;
}
