.techsPost-container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.tech-date {
  font-size: 13px;
  font-weight: bold;
  color: #767676;
}
.techsPost {
  display: table;
  width: 800px;
  min-height: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-collapse: collapse;
}



.tech-tags {
  margin-top: 50px;
}
.tech-tag {
  font-size: 20px;
  font-weight: bold;
}
.newTech-title {
  width: 750px;
  height: 30px;
  border-style: none;
  border-bottom: 1px solid gray;
  outline: none;
  font-size: 20px;
  line-height: 20px;
}

.newTech-tag {
  width: 750px;
  height: 30px;
  border-style: none;
  border-bottom: 1px solid gray;
  outline: none;
  font-size: 20px;
  line-height: 20px;
}

.tech-content {
  font-size: 20px;
}
.techPost {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#spanTag {
  font-size: 20px;
  font-weight: bold;
}
#cke_editor1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.techs-title {
  margin: 2px;
}
.techs-title a {
  color: #337ab7;
  display: inline;
}
.techs-title a:hover {
  color: #1a4366;
}

th, td {
  max-width: 100%;
  display: table-cell;
}

tr {
  display: table-row;
}

thead tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.techs-container {
  display: table-row;
  border: 1px solid #ddd;
  border-left-style: none;
  border-right-style: none;
  height: 24px;
}
.techs-container:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.tdate {
  text-align: center;
  font-size: 14px;
  color: #333333;
  border-right: 4px;
}

.thDate {
  text-align: center;
  width: 150px;
}

.thTitle {
  text-align: center;
}